# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [16]:
# import numpy and pandas

import numpy as np
import pandas as pd
from scipy import stats
from scipy.stats import ttest_rel
from scipy.stats import ttest_1samp
from scipy.stats import norm
from scipy.stats import binom
from scipy.stats import normaltest

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [5]:
# Your code here:

pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [9]:
# Your code here:

mean_leg = np.mean(pokemon['Legendary'] == True)
stdev_leg = np.std(pokemon['Legendary'] == True)

mean_non_leg = np.mean(pokemon['Legendary'] == False)
stdev_non_leg = np.std(pokemon['Legendary'] == True)

print("Legendary: ")
print(mean_leg)
print(stdev_leg)

print("Non legendary: ")
print(mean_non_leg)
print(stdev_non_leg)

Legendary:
0.08125
0.2732186624299299
Non legendary:
0.91875
0.2732186624299299

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [24]:
# Your code here:

def t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):

    results = {}

    # Your code here
    
    for x in features:
        results[x] = stats.ttest_ind(s1[x], s2[x], equal_var = False).pvalue
    
    return results

legendary = pokemon.loc[pokemon['Legendary'] == True]

normal = pokemon.loc[pokemon['Legendary'] == False]

t_test_features(legendary, normal)

{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}

What do you conclude from this test? Write your conclusions below.

Cuando el P-value es muy bajo, que es el caso, rechazas la null hypothesis. Esto quiere decir que s√≠, los pokemon legendarios tienen las estad√≠sticas m√°s altas.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [25]:
# Your code here:

pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Dragon       32
Ground       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [27]:
# Your code here:

mean_wat = np.mean(pokemon['Type 1'] == 'Water')
stdev_wat = np.std(pokemon['Type 1'] == 'Water')

mean_not_wat = np.mean(pokemon['Type 1'] != 'Water')
stdev_not_wat = np.std(pokemon['Type 1'] != 'Water')

print("Water")
print(mean_wat)
print(stdev_wat)

print("Non Water")
print(mean_not_wat)
print(stdev_not_wat)

Water
0.14
0.34698703145794946
Non Water
0.86
0.34698703145794946

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [28]:
# Your code here:

water = pokemon.loc[pokemon['Type 1'] == 'Water']

nonwater = pokemon.loc[pokemon['Type 1'] != 'Water']

t_test_features(water, nonwater)

{'HP': 0.24103213566579404,
 'Attack': 0.05871733199946693,
 'Defense': 0.7188803999552875,
 'Sp. Atk': 0.44447079317732396,
 'Sp. Def': 0.5782615337949744,
 'Speed': 0.2749473649353192,
 'Total': 0.6433915385821449}

Write your conclusion below.

El P-value es muy alto, bastante mayor a 0.05, we acept the null hypothesis, quiere decir que los pokemon tipo agua y el resto de tipos tienen las mismas estad√≠sticas, no son mejores los de agua.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [29]:
# Your code here:

attack = pokemon['Attack']
defense = pokemon['Defense']

ttest_rel(attack, defense)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

El P-value es muy bajo, rechazamos la null hypothesis. Esto quiere decir que s√≠, aceptamos la hip√≥tesis alternativa que dice que la defensa y ataque scores son iguales.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [30]:
# Your code here:

spattack = pokemon['Sp. Atk']
spdefense = pokemon['Sp. Def']

ttest_rel(spattack, spdefense)

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

El P-value es muy alto, bastante mayor a 0.05, we acept the null hypothesis, quiere decir que los ataques especiales de los pokemon y las defensas especiales tienen una diferencia significativa

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [32]:
# Your code here:
    
ttest_1samp(attack - defense, 0)   #between the means and zero.

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [37]:
# Your code here:

result = pd.crosstab(pokemon["Legendary"], pokemon["Type 1"])
print(result)

print(result.Water)

Type 1     Bug  Dark  Dragon  Electric  Fairy  Fighting  Fire  Flying  Ghost  \
Legendary
False       69    29      20        40     16        27    47       2     30
True         0     2      12         4      1         0     5       2      2

Type 1     Grass  Ground  Ice  Normal  Poison  Psychic  Rock  Steel  Water
Legendary
False         67      28   22      96      28       43    40     23    108
True           3       4    2       2       0       14     4      4      4
Legendary
False    108
True       4
Name: Water, dtype: int64

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [42]:
# Your code here:

from scipy.stats import chi2_contingency

# chi2, p, dof, ex = chi2_contingency(result.Water)

chi2, p, dof, ex = chi2_contingency(result)

p

5.118547414721704e-12

Based on a 95% confidence, should we reject the null hypothesis?

In [47]:
# Your answer here:

# No me sale!!!!

sample = pokemon[(pokemon["Legendary"] == True) & (pokemon["Type 1"] == "Water")]
ttest_1samp(sample, 0)

TypeError: unsupported operand type(s) for +: 'float' and 'str'