In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Adquire

demo = pd.read_csv('country_population.csv')

In [3]:
demo.head(11)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101220.0,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,26616792.0,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0
2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,20997687.0,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2970017.0,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,82683.0,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0
5,Arab World,ARB,"Population, total",SP.POP.TOTL,92490932.0,95044497.0,97682294.0,100411076.0,103239902.0,106174988.0,...,331653797.0,339825483.0,348145094.0,356508908.0,364895878.0,373306993.0,381702086.0,390043028.0,398304960.0,406452690.0
6,United Arab Emirates,ARE,"Population, total",SP.POP.TOTL,92634.0,101078.0,112472.0,125566.0,138529.0,150362.0,...,6044067.0,6894278.0,7666393.0,8270684.0,8672475.0,8900453.0,9006263.0,9070867.0,9154302.0,9269612.0
7,Argentina,ARG,"Population, total",SP.POP.TOTL,20619075.0,20953077.0,21287682.0,21621840.0,21953929.0,22283390.0,...,39970224.0,40382389.0,40799407.0,41223889.0,41656879.0,42096739.0,42539925.0,42981515.0,43417765.0,43847430.0
8,Armenia,ARM,"Population, total",SP.POP.TOTL,1874120.0,1941491.0,2009526.0,2077575.0,2144998.0,2211316.0,...,2933056.0,2908220.0,2888584.0,2877311.0,2875581.0,2881922.0,2893509.0,2906220.0,2916950.0,2924816.0
9,American Samoa,ASM,"Population, total",SP.POP.TOTL,20013.0,20486.0,21117.0,21882.0,22698.0,23520.0,...,57903.0,57030.0,56227.0,55637.0,55320.0,55230.0,55307.0,55437.0,55537.0,55599.0
10,Antigua and Barbuda,ATG,"Population, total",SP.POP.TOTL,55339.0,56144.0,57144.0,58294.0,59524.0,60781.0,...,91381.0,92478.0,93581.0,94661.0,95719.0,96777.0,97824.0,98875.0,99923.0,100963.0

In [4]:
#Missing Values

null_cols = demo.isnull().sum()
null_cols[null_cols > 0]

1960    4
1961    4
1962    4
1963    4
1964    4
1965    4
1966    4
1967    4
1968    4
1969    4
1970    4
1971    4
1972    4
1973    4
1974    4
1975    4
1976    4
1977    4
1978    4
1979    4
1980    4
1981    4
1982    4
1983    4
1984    4
1985    4
1986    4
1987    4
1988    4
1989    4
1990    2
1991    2
1992    3
1993    3
1994    3
1995    2
1996    2
1997    2
1998    1
1999    1
2000    1
2001    1
2002    1
2003    1
2004    1
2005    1
2006    1
2007    1
2008    1
2009    1
2010    1
2011    1
2012    2
2013    2
2014    2
2015    2
2016    2
dtype: int64

In [5]:
# Eliminamos las columnas que no vamos a utilizar

dropyears = []
for x in range(1960, 2000):
    dropyears.append(str(x))
    
print(dropyears)

['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999']

In [6]:
# Eliminamos las columnas que no vamos a utilizar

demo = demo.drop(dropyears, axis=1)
demo.head(11)

,Country Name,Country Code,Indicator Name,Indicator Code,2000,2001,2002,2003,2004,2005,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aruba,ABW,"Population, total",SP.POP.TOTL,90853.0,92898.0,94992.0,97017.0,98737.0,100031.0,...,101220.0,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,20093756.0,20966463.0,21979923.0,23064851.0,24118979.0,25070798.0,...,26616792.0,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0
2,Angola,AGO,"Population, total",SP.POP.TOTL,16440924.0,16983266.0,17572649.0,18203369.0,18865716.0,19552542.0,...,20997687.0,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0
3,Albania,ALB,"Population, total",SP.POP.TOTL,3089027.0,3060173.0,3051010.0,3039616.0,3026939.0,3011487.0,...,2970017.0,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0
4,Andorra,AND,"Population, total",SP.POP.TOTL,65390.0,67341.0,70049.0,73182.0,76244.0,78867.0,...,82683.0,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0
5,Arab World,ARB,"Population, total",SP.POP.TOTL,283832016.0,289850357.0,296026575.0,302434519.0,309162029.0,316264728.0,...,331653797.0,339825483.0,348145094.0,356508908.0,364895878.0,373306993.0,381702086.0,390043028.0,398304960.0,406452690.0
6,United Arab Emirates,ARE,"Population, total",SP.POP.TOTL,3154925.0,3326032.0,3507232.0,3741932.0,4087931.0,4579562.0,...,6044067.0,6894278.0,7666393.0,8270684.0,8672475.0,8900453.0,9006263.0,9070867.0,9154302.0,9269612.0
7,Argentina,ARG,"Population, total",SP.POP.TOTL,37057452.0,37471509.0,37889370.0,38309379.0,38728696.0,39145488.0,...,39970224.0,40382389.0,40799407.0,41223889.0,41656879.0,42096739.0,42539925.0,42981515.0,43417765.0,43847430.0
8,Armenia,ARM,"Population, total",SP.POP.TOTL,3069588.0,3050655.0,3033897.0,3017806.0,3000612.0,2981259.0,...,2933056.0,2908220.0,2888584.0,2877311.0,2875581.0,2881922.0,2893509.0,2906220.0,2916950.0,2924816.0
9,American Samoa,ASM,"Population, total",SP.POP.TOTL,57521.0,58175.0,58731.0,59117.0,59264.0,59118.0,...,57903.0,57030.0,56227.0,55637.0,55320.0,55230.0,55307.0,55437.0,55537.0,55599.0
10,Antigua and Barbuda,ATG,"Population, total",SP.POP.TOTL,83584.0,85057.0,86266.0,87293.0,88257.0,89253.0,...,91381.0,92478.0,93581.0,94661.0,95719.0,96777.0,97824.0,98875.0,99923.0,100963.0

In [7]:
# Eliminamos las columnas que no vamos a utilizar

demo = demo.drop(['Indicator Name', 'Indicator Code', 'Country Code'], axis=1)
demo.head(11)

,Country Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aruba,90853.0,92898.0,94992.0,97017.0,98737.0,100031.0,100832.0,101220.0,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0
1,Afghanistan,20093756.0,20966463.0,21979923.0,23064851.0,24118979.0,25070798.0,25893450.0,26616792.0,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0
2,Angola,16440924.0,16983266.0,17572649.0,18203369.0,18865716.0,19552542.0,20262399.0,20997687.0,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0
3,Albania,3089027.0,3060173.0,3051010.0,3039616.0,3026939.0,3011487.0,2992547.0,2970017.0,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0
4,Andorra,65390.0,67341.0,70049.0,73182.0,76244.0,78867.0,80991.0,82683.0,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0
5,Arab World,283832016.0,289850357.0,296026575.0,302434519.0,309162029.0,316264728.0,323773264.0,331653797.0,339825483.0,348145094.0,356508908.0,364895878.0,373306993.0,381702086.0,390043028.0,398304960.0,406452690.0
6,United Arab Emirates,3154925.0,3326032.0,3507232.0,3741932.0,4087931.0,4579562.0,5242032.0,6044067.0,6894278.0,7666393.0,8270684.0,8672475.0,8900453.0,9006263.0,9070867.0,9154302.0,9269612.0
7,Argentina,37057452.0,37471509.0,37889370.0,38309379.0,38728696.0,39145488.0,39558890.0,39970224.0,40382389.0,40799407.0,41223889.0,41656879.0,42096739.0,42539925.0,42981515.0,43417765.0,43847430.0
8,Armenia,3069588.0,3050655.0,3033897.0,3017806.0,3000612.0,2981259.0,2958500.0,2933056.0,2908220.0,2888584.0,2877311.0,2875581.0,2881922.0,2893509.0,2906220.0,2916950.0,2924816.0
9,American Samoa,57521.0,58175.0,58731.0,59117.0,59264.0,59118.0,58650.0,57903.0,57030.0,56227.0,55637.0,55320.0,55230.0,55307.0,55437.0,55537.0,55599.0
10,Antigua and Barbuda,83584.0,85057.0,86266.0,87293.0,88257.0,89253.0,90301.0,91381.0,92478.0,93581.0,94661.0,95719.0,96777.0,97824.0,98875.0,99923.0,100963.0

In [8]:
# Eliminamos las filas que tienen el valor nulo

droprows = []
for x in range(2000, 2017):
    droprows.append(str(x))
print(droprows)

['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']

In [9]:
# Eliminamos las filas que tienen el valor nulo
demo = demo.dropna(subset = droprows, axis=0)
demo.head(11)

,Country Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aruba,90853.0,92898.0,94992.0,97017.0,98737.0,100031.0,100832.0,101220.0,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0
1,Afghanistan,20093756.0,20966463.0,21979923.0,23064851.0,24118979.0,25070798.0,25893450.0,26616792.0,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0
2,Angola,16440924.0,16983266.0,17572649.0,18203369.0,18865716.0,19552542.0,20262399.0,20997687.0,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0
3,Albania,3089027.0,3060173.0,3051010.0,3039616.0,3026939.0,3011487.0,2992547.0,2970017.0,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0
4,Andorra,65390.0,67341.0,70049.0,73182.0,76244.0,78867.0,80991.0,82683.0,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0
5,Arab World,283832016.0,289850357.0,296026575.0,302434519.0,309162029.0,316264728.0,323773264.0,331653797.0,339825483.0,348145094.0,356508908.0,364895878.0,373306993.0,381702086.0,390043028.0,398304960.0,406452690.0
6,United Arab Emirates,3154925.0,3326032.0,3507232.0,3741932.0,4087931.0,4579562.0,5242032.0,6044067.0,6894278.0,7666393.0,8270684.0,8672475.0,8900453.0,9006263.0,9070867.0,9154302.0,9269612.0
7,Argentina,37057452.0,37471509.0,37889370.0,38309379.0,38728696.0,39145488.0,39558890.0,39970224.0,40382389.0,40799407.0,41223889.0,41656879.0,42096739.0,42539925.0,42981515.0,43417765.0,43847430.0
8,Armenia,3069588.0,3050655.0,3033897.0,3017806.0,3000612.0,2981259.0,2958500.0,2933056.0,2908220.0,2888584.0,2877311.0,2875581.0,2881922.0,2893509.0,2906220.0,2916950.0,2924816.0
9,American Samoa,57521.0,58175.0,58731.0,59117.0,59264.0,59118.0,58650.0,57903.0,57030.0,56227.0,55637.0,55320.0,55230.0,55307.0,55437.0,55537.0,55599.0
10,Antigua and Barbuda,83584.0,85057.0,86266.0,87293.0,88257.0,89253.0,90301.0,91381.0,92478.0,93581.0,94661.0,95719.0,96777.0,97824.0,98875.0,99923.0,100963.0

In [10]:
#De aquí en adelante, calculate percentage change: pct_change()

demo_series = demo.apply(lambda x: x.tolist(), axis=1)
demo_series

0      [Aruba, 90853.0, 92898.0, 94992.0, 97017.0, 98...
1      [Afghanistan, 20093756.0, 20966463.0, 21979923...
2      [Angola, 16440924.0, 16983266.0, 17572649.0, 1...
3      [Albania, 3089027.0, 3060173.0, 3051010.0, 303...
4      [Andorra, 65390.0, 67341.0, 70049.0, 73182.0, ...
5      [Arab World, 283832016.0, 289850357.0, 2960265...
6      [United Arab Emirates, 3154925.0, 3326032.0, 3...
7      [Argentina, 37057452.0, 37471509.0, 37889370.0...
8      [Armenia, 3069588.0, 3050655.0, 3033897.0, 301...
9      [American Samoa, 57521.0, 58175.0, 58731.0, 59...
10     [Antigua and Barbuda, 83584.0, 85057.0, 86266....
11     [Australia, 19153000.0, 19413000.0, 19651400.0...
12     [Austria, 8011566.0, 8042293.0, 8081957.0, 812...
13     [Azerbaijan, 8048600.0, 8111200.0, 8171950.0, ...
14     [Burundi, 6400706.0, 6555829.0, 6741569.0, 695...
15     [Belgium, 10251250.0, 10286570.0, 10332785.0, ...
16     [Benin, 6865951.0, 7076733.0, 7295394.0, 75205...
17     [Burkina Faso, 11607942.0, 11944587.0, 1229310...
18     [Bangladesh, 131581243.0, 134107160.0, 1366006...
19     [Bulgaria, 8170172.0, 8009142.0, 7837161.0, 77...
20     [Bahrain, 664614.0, 697549.0, 735148.0, 778711...
21     [Bahamas, The, 297890.0, 303135.0, 309157.0, 3...
22     [Bosnia and Herzegovina, 3766706.0, 3771284.0,...
23     [Belarus, 9979610.0, 9928549.0, 9865548.0, 979...
24     [Belize, 247315.0, 254984.0, 262206.0, 269130....
25     [Bermuda, 61833.0, 62504.0, 62912.0, 63325.0, ...
26     [Bolivia, 8339512.0, 8496375.0, 8653345.0, 881...
27     [Brazil, 175287587.0, 177750670.0, 180151021.0...
28     [Barbados, 269847.0, 270685.0, 271478.0, 27225...
29     [Brunei Darussalam, 333241.0, 340117.0, 346867...
                             ...
234    [Latin America & the Caribbean (IDA & IBRD cou...
235    [Timor-Leste, 871607.0, 892531.0, 923825.0, 96...
236    [Middle East & North Africa (IDA & IBRD countr...
237    [Tonga, 98082.0, 98611.0, 99184.0, 99789.0, 10...
238    [South Asia (IDA & IBRD), 1386625845.0, 141210...
239    [Sub-Saharan Africa (IDA & IBRD countries), 67...
240    [Trinidad and Tobago, 1267984.0, 1272380.0, 12...
241    [Tunisia, 9699197.0, 9785701.0, 9864326.0, 993...
242    [Turkey, 63240121.0, 64191474.0, 65143054.0, 6...
243    [Tuvalu, 9420.0, 9512.0, 9635.0, 9767.0, 9894....
244    [Tanzania, 34178042.0, 35117019.0, 36105808.0,...
245    [Uganda, 24039274.0, 24854892.0, 25718048.0, 2...
246    [Ukraine, 49175848.0, 48683865.0, 48202500.0, ...
247    [Upper middle income, 2285496325.0, 2305023507...
248    [Uruguay, 3321245.0, 3327103.0, 3327773.0, 332...
249    [United States, 282162411.0, 284968955.0, 2876...
250    [Uzbekistan, 24650400.0, 24964450.0, 25271850....
251    [St. Vincent and the Grenadines, 107898.0, 107...
252    [Venezuela, RB, 24488340.0, 24948476.0, 254087...
253    [British Virgin Islands, 20645.0, 21085.0, 215...
254    [Virgin Islands (U.S.), 108642.0, 108549.0, 10...
255    [Vietnam, 80285562.0, 81139919.0, 81956496.0, ...
256    [Vanuatu, 185063.0, 189290.0, 193956.0, 198964...
257    [World, 6121682741.0, 6201340848.0, 6280531847...
258    [Samoa, 174610.0, 175566.0, 176582.0, 177662.0...
259    [Kosovo, 1700000.0, 1701154.0, 1702310.0, 1703...
260    [Yemen, Rep., 17874725.0, 18390135.0, 18919179...
261    [South Africa, 45728315.0, 46385006.0, 4702617...
262    [Zambia, 10531221.0, 10824125.0, 11120409.0, 1...
263    [Zimbabwe, 12222251.0, 12366165.0, 12500525.0,...
Length: 262, dtype: object

In [11]:
#Tenemos que transponer el Dataframe para poder recorrer cada serie.

demoT = demo.T
demoT.columns = demoT.iloc[0]
demoT.head()

Country Name,Aruba,Afghanistan,Angola,Albania,Andorra,Arab World,United Arab Emirates,Argentina,Armenia,American Samoa,...,Virgin Islands (U.S.),Vietnam,Vanuatu,World,Samoa,Kosovo,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
Country Name,Aruba,Afghanistan,Angola,Albania,Andorra,Arab World,United Arab Emirates,Argentina,Armenia,American Samoa,...,Virgin Islands (U.S.),Vietnam,Vanuatu,World,Samoa,Kosovo,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
2000,90853,2.00938e+07,1.64409e+07,3.08903e+06,65390,2.83832e+08,3.15492e+06,3.70575e+07,3.06959e+06,57521,...,108642,8.02856e+07,185063,6.12168e+09,174610,1.7e+06,1.78747e+07,4.57283e+07,1.05312e+07,1.22223e+07
2001,92898,2.09665e+07,1.69833e+07,3.06017e+06,67341,2.8985e+08,3.32603e+06,3.74715e+07,3.05066e+06,58175,...,108549,8.11399e+07,189290,6.20134e+09,175566,1.70115e+06,1.83901e+07,4.6385e+07,1.08241e+07,1.23662e+07
2002,94992,2.19799e+07,1.75726e+07,3.05101e+06,70049,2.96027e+08,3.50723e+06,3.78894e+07,3.0339e+06,58731,...,108510,8.19565e+07,193956,6.28053e+09,176582,1.70231e+06,1.89192e+07,4.70262e+07,1.11204e+07,1.25005e+07
2003,97017,2.30649e+07,1.82034e+07,3.03962e+06,73182,3.02435e+08,3.74193e+06,3.83094e+07,3.01781e+06,59117,...,108506,8.27477e+07,198964,6.3599e+09,177662,1.70347e+06,1.94621e+07,4.76487e+07,1.1422e+07,1.26339e+07

In [12]:
#Eliminamos la fila que hemos puesto como título

demoT = demoT.drop('Country Name', axis=0)
demoT

Country Name,Aruba,Afghanistan,Angola,Albania,Andorra,Arab World,United Arab Emirates,Argentina,Armenia,American Samoa,...,Virgin Islands (U.S.),Vietnam,Vanuatu,World,Samoa,Kosovo,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
2000,90853,2.00938e+07,1.64409e+07,3.08903e+06,65390,2.83832e+08,3.15492e+06,3.70575e+07,3.06959e+06,57521,...,108642,8.02856e+07,185063,6.12168e+09,174610,1.7e+06,1.78747e+07,4.57283e+07,1.05312e+07,1.22223e+07
2001,92898,2.09665e+07,1.69833e+07,3.06017e+06,67341,2.8985e+08,3.32603e+06,3.74715e+07,3.05066e+06,58175,...,108549,8.11399e+07,189290,6.20134e+09,175566,1.70115e+06,1.83901e+07,4.6385e+07,1.08241e+07,1.23662e+07
2002,94992,2.19799e+07,1.75726e+07,3.05101e+06,70049,2.96027e+08,3.50723e+06,3.78894e+07,3.0339e+06,58731,...,108510,8.19565e+07,193956,6.28053e+09,176582,1.70231e+06,1.89192e+07,4.70262e+07,1.11204e+07,1.25005e+07
2003,97017,2.30649e+07,1.82034e+07,3.03962e+06,73182,3.02435e+08,3.74193e+06,3.83094e+07,3.01781e+06,59117,...,108506,8.27477e+07,198964,6.3599e+09,177662,1.70347e+06,1.94621e+07,4.76487e+07,1.1422e+07,1.26339e+07
2004,98737,2.4119e+07,1.88657e+07,3.02694e+06,76244,3.09162e+08,4.08793e+06,3.87287e+07,3.00061e+06,59264,...,108467,8.35277e+07,204143,6.43983e+09,178781,1.70462e+06,2.00171e+07,4.82474e+07,1.17317e+07,1.27775e+07
2005,100031,2.50708e+07,1.95525e+07,3.01149e+06,78867,3.16265e+08,4.57956e+06,3.91455e+07,2.98126e+06,59118,...,108454,8.43088e+07,209370,6.5203e+09,179929,1.70578e+06,2.05829e+07,4.88206e+07,1.20522e+07,1.294e+07
2006,100832,2.58934e+07,2.02624e+07,2.99255e+06,80991,3.23773e+08,5.24203e+06,3.95589e+07,2.9585e+06,58650,...,108371,8.50946e+07,214634,6.60148e+09,181094,1.71954e+06,2.11605e+07,4.93646e+07,1.23834e+07,1.31243e+07
2007,101220,2.66168e+07,2.09977e+07,2.97002e+06,82683,3.31654e+08,6.04407e+06,3.99702e+07,2.93306e+06,57903,...,108339,8.58896e+07,219953,6.68323e+09,182286,1.7334e+06,2.17516e+07,4.98872e+07,1.2726e+07,1.33299e+07
2008,101353,2.7294e+07,2.17594e+07,2.94731e+06,83861,3.39825e+08,6.89428e+06,4.03824e+07,2.90822e+06,57030,...,108399,8.67078e+07,225340,6.7663e+09,183526,1.74738e+06,2.23564e+07,5.04121e+07,1.30825e+07,1.35585e+07
2009,101453,2.80043e+07,2.25495e+07,2.92752e+06,84462,3.48145e+08,7.66639e+06,4.07994e+07,2.88858e+06,56227,...,108405,8.75654e+07,230785,6.84957e+09,184826,1.76147e+06,2.29749e+07,5.09708e+07,1.34564e+07,1.38106e+07
2010,101669,2.88032e+07,2.33691e+07,2.91302e+06,84449,3.56509e+08,8.27068e+06,4.12239e+07,2.87731e+06,55637,...,108358,8.84725e+07,236295,6.93288e+09,186205,1.77568e+06,2.36068e+07,5.15847e+07,1.385e+07,1.40863e+07
2011,102053,2.97086e+07,2.42186e+07,2.9052e+06,83751,3.64896e+08,8.67248e+06,4.16569e+07,2.87558e+06,55320,...,108292,8.94366e+07,241871,7.015e+09,187665,1.791e+06,2.42522e+07,5.22635e+07,1.42648e+07,1.43866e+07
2012,102577,3.0697e+07,2.50962e+07,2.9004e+06,82431,3.73307e+08,8.90045e+06,4.20967e+07,2.88192e+06,55230,...,108191,9.04519e+07,247485,7.09955e+09,189194,1.8052e+06,2.491e+07,5.29982e+07,1.46999e+07,1.47108e+07
2013,103187,3.17317e+07,2.59983e+07,2.89509e+06,80788,3.81702e+08,9.00626e+06,4.25399e+07,2.89351e+06,55307,...,108044,9.14977e+07,253142,7.18508e+09,190757,1.8241e+06,2.55763e+07,5.37674e+07,1.51532e+07,1.50545e+07
2014,103795,3.2758e+07,2.69205e+07,2.8891e+06,79223,3.90043e+08,9.07087e+06,4.29815e+07,2.90622e+06,55437,...,107884,9.25449e+07,258850,7.27123e+09,192290,1.8218e+06,2.62463e+07,5.45396e+07,1.5621e+07,1.54117e+07
2015,104341,3.37365e+07,2.78593e+07,2.8807e+06,78014,3.98305e+08,9.1543e+06,4.34178e+07,2.91695e+06,55537,...,107710,9.35716e+07,264603,7.35737e+09,193759,1.8018e+06,2.69162e+07,5.52912e+07,1.61006e+07,1.57775e+07
2016,104822,3.4656e+07,2.88135e+07,2.8761e+06,77281,4.06453e+08,9.26961e+06,4.38474e+07,2.92482e+06,55599,...,107510,9.45691e+07,270402,7.44403e+09,195125,1.8162e+06,2.75842e+07,5.60155e+07,1.65914e+07,1.61504e+07

In [13]:
#Ahora, podemos aplicar el pct_change() porque cada columna es una series.

print(type(demoT))
print(type(demoT.Aruba))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [14]:
#Aquí tenemos la tabla de pct_change().

demoT_pctchange = demoT.pct_change()*100
demoT_pctchange

Country Name,Aruba,Afghanistan,Angola,Albania,Andorra,Arab World,United Arab Emirates,Argentina,Armenia,American Samoa,...,Virgin Islands (U.S.),Vietnam,Vanuatu,World,Samoa,Kosovo,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001,2.250889,4.343175,3.298732,-0.934081,2.983637,2.120388,5.423489,1.117338,-0.616793,1.136976,...,-0.085602,1.064148,2.284087,1.301245,0.547506,0.067882,2.883457,1.436071,2.781292,1.177475
2002,2.254085,4.833719,3.470375,-0.299428,4.021324,2.130830,5.447933,1.115143,-0.549325,0.955737,...,-0.035928,1.006381,2.465001,1.276998,0.578700,0.067954,2.876781,1.382272,2.737256,1.086513
2003,2.131758,4.935995,3.589214,-0.373450,4.472583,2.164652,6.691887,1.108514,-0.530374,0.657234,...,-0.003686,0.965349,2.582029,1.263738,0.611614,0.067908,2.869612,1.323846,2.711906,1.066931
2004,1.772885,4.570279,3.638596,-0.417059,4.184089,2.224452,9.246534,1.094554,-0.569752,0.248659,...,-0.035943,0.942644,2.602983,1.256720,0.629848,0.067862,2.851606,1.256420,2.711981,1.136736
2005,1.310552,3.946349,3.640604,-0.510483,3.440271,2.297403,12.026402,1.076184,-0.644968,-0.246355,...,-0.011985,0.935217,2.560460,1.249630,0.642126,0.067933,2.826883,1.188025,2.731137,1.271930
2006,0.800752,3.281316,3.630510,-0.628925,2.693142,2.374130,14.465794,1.056066,-0.763402,-0.791637,...,-0.076530,0.932018,2.514209,1.245022,0.647478,0.806435,2.806243,1.114276,2.748803,1.423760
2007,0.384798,2.793533,3.628830,-0.752870,2.089121,2.433967,15.300078,1.039802,-0.860030,-1.273657,...,-0.029528,0.934222,2.478172,1.238322,0.658222,0.806497,2.793271,1.058652,2.766015,1.566884
2008,0.131397,2.544405,3.627700,-0.764406,1.424719,2.463921,14.066869,1.031180,-0.846762,-1.507694,...,0.055382,0.952631,2.449160,1.243026,0.680250,0.806448,2.780420,1.052270,2.801695,1.714640
2009,0.098665,2.602401,3.631195,-0.671628,0.716662,2.448201,11.199360,1.032673,-0.675190,-1.408031,...,0.005535,0.989076,2.416349,1.230668,0.708347,0.806406,2.766717,1.108243,2.858013,1.859576
2010,0.212906,2.852544,3.634592,-0.495232,-0.015392,2.402393,7.882338,1.040412,-0.390260,-1.049318,...,-0.043356,1.035917,2.387504,1.216246,0.746107,0.806484,2.750172,1.204307,2.925117,1.996423
2011,0.377696,3.143515,3.634855,-0.268656,-0.826534,2.352527,4.858014,1.050338,-0.060126,-0.569765,...,-0.060909,1.089753,2.359762,1.184470,0.784082,0.862768,2.734075,1.315998,2.994383,2.132083
2012,0.513459,3.326845,3.623604,-0.165015,-1.576101,2.305073,2.628754,1.055912,0.220512,-0.162690,...,-0.093266,1.135147,2.321072,1.205276,0.814750,0.792853,2.712178,1.405755,3.050743,2.253318
2013,0.594675,3.370790,3.594934,-0.183044,-1.993182,2.248844,1.188816,1.052780,0.402058,0.139417,...,-0.135871,1.156244,2.285795,1.204717,0.826136,1.046975,2.675045,1.451338,3.083503,2.336239
2014,0.589222,3.234407,3.546865,-0.206833,-1.937169,2.185197,0.717323,1.038060,0.439294,0.235052,...,-0.148088,1.144498,2.254861,1.199008,0.803640,-0.126090,2.619630,1.436140,3.086897,2.372506
2015,0.526037,2.986975,3.487454,-0.290782,-1.526072,2.118210,0.919813,1.014971,0.369208,0.180385,...,-0.161284,1.109355,2.222523,1.184693,0.763950,-1.097815,2.552281,1.378181,3.070314,2.373370
2016,0.460988,2.725648,3.424917,-0.159753,-0.939575,2.045601,1.259626,0.989606,0.269665,0.111637,...,-0.185684,1.066034,2.191585,1.177832,0.705000,0.799201,2.481798,1.309879,3.048355,2.363569

In [15]:
#Vamos a quedarnos con los 4 países más poblados y los 4 países menos poblados. Queremos comparar su crecimiento de población con el de España y el total de crecimiento de población mundial.
# new = old[['A', 'C', 'D']].copy()
demoT_pctchange_pob = demoT_pctchange[['China', 'India', 'United States', 'Indonesia', 'Spain', 'Tuvalu', 'Nauru', 'San Marino', 'Liechtenstein', 'World']].copy()
demoT_pctchange_pob

Country Name,China,India,United States,Indonesia,Spain,Tuvalu,Nauru,San Marino,Liechtenstein,World
2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001,0.729025,1.749862,0.994656,1.402131,0.696482,0.976645,0.109540,1.254650,1.156642,1.301245
2002,0.672249,1.710652,0.932115,1.399285,1.422620,1.293103,0.198946,1.293135,1.030560,1.276998
2003,0.624805,1.671923,0.863186,1.396341,1.824906,1.370005,0.228333,1.326411,0.890705,1.263738
2004,0.595700,1.634249,0.929780,1.391749,1.740438,1.300297,0.168384,1.305538,0.801259,1.256720
2005,0.589858,1.596868,0.925974,1.385455,1.703699,1.344249,0.019777,1.295642,0.739970,1.249630
2006,0.559936,1.560943,0.968918,1.378605,1.704720,1.097038,-0.138408,1.279070,0.697234,1.245022
2007,0.523638,1.523568,0.955592,1.370938,1.868320,1.045674,-0.257400,1.225772,0.646816,1.238322
2008,0.513702,1.480541,0.950353,1.360636,1.608124,0.946988,-0.277916,1.247623,0.620010,1.243026
2009,0.498620,1.430336,0.880505,1.347058,0.889670,0.976789,-0.189111,1.225660,0.633072,1.230668
2010,0.484128,1.376181,0.839929,1.330174,0.461470,0.861986,-0.029916,1.259643,0.662640,1.216246
2011,0.480300,1.320519,0.748401,1.312607,0.355970,0.921090,0.319202,1.266474,0.724940,1.184470
2012,0.488420,1.269192,0.749213,1.292480,0.064947,0.912683,2.207418,1.301422,0.774873,1.205276
2013,0.494930,1.226884,0.702720,1.265264,-0.327133,0.876457,5.272886,1.218901,0.790806,1.204717
2014,0.507596,1.196429,0.745892,1.229546,-0.298505,0.822627,9.537011,1.095873,0.795461,1.199008
2015,0.509430,1.174369,0.732401,1.188015,-0.077559,0.852585,5.247617,0.927826,0.743394,1.184693
2016,0.542947,1.154832,0.695207,1.143988,0.085480,0.872648,4.601202,0.737257,0.703152,1.177832

In [ ]:
#Creamos un gráfico para que sea más visual la comparación.

title = 'Most to least populated contries vs World population - Percentage Change'

fig, ax = plt.subplots(figsize=(15,8))
barchart = sns.barplot(data=results, x='Make', y='Combined MPG')
plt.title(title + "\n", fontsize=16)