In [1]:
import pandas as pd

In [2]:
#Adquire

demo = pd.read_csv('acs2015_county_data.csv')

In [3]:
demo.head(11)

,CensusId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001,Alabama,Autauga,55221,26745,28476,2.6,75.8,18.5,0.4,...,0.5,1.3,1.8,26.5,23986,73.6,20.9,5.5,0.0,7.6
1,1003,Alabama,Baldwin,195121,95314,99807,4.5,83.1,9.5,0.6,...,1.0,1.4,3.9,26.4,85953,81.5,12.3,5.8,0.4,7.5
2,1005,Alabama,Barbour,26932,14497,12435,4.6,46.2,46.7,0.2,...,1.8,1.5,1.6,24.1,8597,71.8,20.8,7.3,0.1,17.6
3,1007,Alabama,Bibb,22604,12073,10531,2.2,74.5,21.4,0.4,...,0.6,1.5,0.7,28.8,8294,76.8,16.1,6.7,0.4,8.3
4,1009,Alabama,Blount,57710,28512,29198,8.6,87.9,1.5,0.3,...,0.9,0.4,2.3,34.9,22189,82.0,13.5,4.2,0.4,7.7
5,1011,Alabama,Bullock,10678,5660,5018,4.4,22.2,70.7,1.2,...,5.0,1.7,2.8,27.5,3865,79.5,15.1,5.4,0.0,18.0
6,1013,Alabama,Butler,20354,9502,10852,1.2,53.3,43.8,0.1,...,0.8,0.6,1.7,24.6,7813,77.4,16.2,6.2,0.2,10.9
7,1015,Alabama,Calhoun,116648,56274,60374,3.5,73.0,20.3,0.2,...,1.2,1.2,2.7,24.1,47401,74.1,20.8,5.0,0.1,12.3
8,1017,Alabama,Chambers,34079,16258,17821,0.4,57.3,40.3,0.2,...,0.3,0.4,2.1,25.1,13689,85.1,12.1,2.8,0.0,8.9
9,1019,Alabama,Cherokee,26008,12975,13033,1.5,91.7,4.8,0.6,...,0.6,0.7,2.5,27.4,10155,73.1,18.5,7.9,0.5,7.9
10,1021,Alabama,Chilton,43819,21619,22200,7.6,80.5,10.2,0.4,...,1.1,1.4,1.9,32.0,17895,80.3,15.2,4.1,0.5,9.1

In [4]:
#Drop Duplicates rows

before = len(demo)
demo = demo.drop_duplicates()
after = len(demo)
print('Number of duplicate records dropped: ', str(before - after))

Number of duplicate records dropped:  0

In [5]:
#Missing Values

null_cols = demo.isnull().sum()
null_cols[null_cols > 0]

Income          1
IncomeErr       1
ChildPoverty    1
dtype: int64

In [6]:
# Eliminamos las columnas que no vamos a utilizar
demo = demo.drop(['IncomeErr', 'IncomePerCap', 'IncomePerCapErr', 'ChildPoverty', 'Drive', 'Carpool', 'Transit', 'Walk', 'OtherTransp', 'WorkAtHome', 'MeanCommute', 'PrivateWork', 'PublicWork', 'SelfEmployed', 'FamilyWork', 'Citizen'], axis=1)
demo.head(11)

,CensusId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Pacific,Income,Poverty,Professional,Service,Office,Construction,Production,Employed,Unemployment
0,1001,Alabama,Autauga,55221,26745,28476,2.6,75.8,18.5,0.4,...,0.0,51281.0,12.9,33.2,17.0,24.2,8.6,17.1,23986,7.6
1,1003,Alabama,Baldwin,195121,95314,99807,4.5,83.1,9.5,0.6,...,0.0,50254.0,13.4,33.1,17.7,27.1,10.8,11.2,85953,7.5
2,1005,Alabama,Barbour,26932,14497,12435,4.6,46.2,46.7,0.2,...,0.0,32964.0,26.7,26.8,16.1,23.1,10.8,23.1,8597,17.6
3,1007,Alabama,Bibb,22604,12073,10531,2.2,74.5,21.4,0.4,...,0.0,38678.0,16.8,21.5,17.9,17.8,19.0,23.7,8294,8.3
4,1009,Alabama,Blount,57710,28512,29198,8.6,87.9,1.5,0.3,...,0.0,45813.0,16.7,28.5,14.1,23.9,13.5,19.9,22189,7.7
5,1011,Alabama,Bullock,10678,5660,5018,4.4,22.2,70.7,1.2,...,0.0,31938.0,24.6,18.8,15.0,19.7,20.1,26.4,3865,18.0
6,1013,Alabama,Butler,20354,9502,10852,1.2,53.3,43.8,0.1,...,0.0,32229.0,25.4,27.5,16.6,21.9,10.3,23.7,7813,10.9
7,1015,Alabama,Calhoun,116648,56274,60374,3.5,73.0,20.3,0.2,...,0.0,41703.0,20.5,27.3,17.7,24.2,10.5,20.4,47401,12.3
8,1017,Alabama,Chambers,34079,16258,17821,0.4,57.3,40.3,0.2,...,0.0,34177.0,21.6,23.3,14.5,26.3,11.5,24.4,13689,8.9
9,1019,Alabama,Cherokee,26008,12975,13033,1.5,91.7,4.8,0.6,...,0.0,36296.0,19.2,29.3,16.0,19.5,13.7,21.5,10155,7.9
10,1021,Alabama,Chilton,43819,21619,22200,7.6,80.5,10.2,0.4,...,0.0,41627.0,19.1,27.2,14.3,23.7,15.3,19.5,17895,9.1